---
import { Image } from "astro:assets";
const { link, className } = Astro.props;
import { markdownify } from "@/lib/utils/textConverter";

const DEFAULT_BADGE_ICON = "fa-solid fa-circle-dot flex";

const badgeIconClass = link?.badge_icon
  ? `${link.badge_icon} flex`
  : DEFAULT_BADGE_ICON;
---

<a
  href={link?.link_to ? link.link_to : `#`}
  class={`main-link-wrapper h-full flex-grow self-stretch cursor-pointer relative ${className || ``}`}
>
  <div
    class="main-link bg-purple-50 m-0 h-full w-full rounded-2xl overflow-hidden relative z-[2] shadow-small"
  >
    <Image
      src={link.image || "/images/fallback_images/about_main_link_fallback.jpg"}
      class="main-link-image text-black w-full object-cover object-center h-full absolute top-0 left-0 m-0"
      alt="image"
      width={200}
      height={200}
      loading="eager"
    />
    <div
      class="main-link-text-overlay-wrapper bg-[#00000066] transition-all duration-[250ms] ease-in-out text-[#ffffff] absolute h-full w-full p-4 flex items-end"
    >
      <div
        class="main-link-text-overlay w-full flex flex-col text-center gap-2"
      >
        <div class="main-link-title leading-none text-xl font-bold">
          {markdownify(link?.title || `[title]`)}
        </div>
        <div class="line border-[1.5px] border-white rounded-full"></div>
        <!-- <div class="line h-[2px] min-h-[2px] max-h[0.25px] bg-white rounded-full"></div> -->
        <div class="main-link-subtitle grid grid-rows-[0fr] transition-all duration-[250ms] ease-in-out leading-none">
          <div class="main-link-subtitle-text">
            {markdownify(link?.subtitle || `[subtitle]`)}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="badge z-[3] bg-white text-primary rounded-md flex justify-center items-center leading-none text-2xl xl:text-3xl m-0 w-[80px] xl:w-[100px] h-[50px] xl:h-[60px] absolute top-0 mx-auto left-0 right-0 translate-y-[-50%] shadow-medium"
  >
    <!-- {(<LinkIconMap linkTo={link?.link_to} />)} -->
    <i class={badgeIconClass}></i>
  </div>
</a>

<style>
  .main-link-wrapper:hover .main-link-text-overlay-wrapper {
    backdrop-filter: blur(5px);
    background: #33333366;
  }
  .main-link-wrapper:hover .main-link-text-overlay {
    margin-bottom: 0rem;
  }
  .main-link-wrapper:hover .main-link-subtitle {
    grid-template-rows: 1fr;
  }

  .main-link-wrapper::before,
  .main-link-wrapper::after {
    position: absolute;
    content: "";
    border: 1px solid #b43d4b;
    border-radius: 1rem;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.25s ease-in-out;
    pointer-events: none;
  }
  .main-link-wrapper::before {
    @apply rotate-[-2.5deg] 2sm:rotate-[-3.67deg] translate-x-[-10px] translate-y-[10px];
    /* transform: rotate(-3.67deg) translate(-10px, 10px); */
  }
  .main-link-wrapper::after {
    @apply rotate-[2.5deg] 2sm:rotate-[3.67deg] translate-x-[-7.5px] translate-y-[15px];
    /* transform: rotate(3.67deg) translate(-7.5px, 15px); */
  }

  .main-link-wrapper:hover::before,
  .main-link-wrapper:hover::after {
    @apply rotate-0 translate-x-0 translate-y-0 scale-x-[1.03] scale-y-[1.07] 2sm:scale-x-[1.06] 2sm:scale-y-[1.05] 2xl:scale-x-[1.0475] 2xl:scale-y-[1.05] border-[2px];
  }
  .main-link-text-overlay {
    margin-bottom: -0.5rem;
    transition: 0.25s ease-in-out;
  }

  .main-link-subtitle-text {
    overflow: hidden;
  }

</style>
