---
import SocialItem from "../function-components/SocialItem.jsx";

interface Link {
  platform: string;
  link: string;
  label: string;
}

const { links } = Astro.props as { links: Link[] };
---

<div
  class="grid grid-cols-2 2sm:grid-cols-3 xl:grid-cols-[repeat(auto-fit,minmax(0,1fr))] gap-4 lg:gap-5 xl:gap-7"
>
  {
    links.map((link: Link, index) => {
      const { platform, link: url, label } = link;
      const smHideClass = index > 3 ? "sm-hide-flex" : "";
      return (
        <SocialItem
          className={smHideClass}
          platform={platform}
          link={url}
          label={label}
        />
      );
    })
  }
</div>
