---

---

<section class="relative flex justify-center my-5 mb-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="relative bg-cover bg-center h-64 w-64 overflow-hidden rounded-xl ">
            <img
            src="/images/career/career-hero-img-1.png"
            alt="career"
            class="w-full h-full object-cover brightness-50"
            />
            <div class="absolute bottom-0 left-0  p-4 w-full">
                <a href="/fitness-journey" class=" text-black bg-white rounded-2xl inline-block text-xs p-1 px-2 mb-3">Fitness</a>
                <a href="/fitness-journey" class="block text-xl text-white font-montserrat font-thin tracking-wide">From Couch to Confident</a>
            </div>
        </div>

        <div class="relative bg-cover bg-center h-64 w-64 overflow-hidden rounded-xl ">
            <img
            src="/images/career/career-hero-img-2.png"
            alt="career"
            class="w-full h-full object-cover brightness-50"
            />
            <div class="absolute bottom-0 left-0  p-4 w-full">
                <a href="/gardening-tips" class=" text-black bg-white rounded-2xl inline-block text-xs p-1 px-2 mb-3">Grow</a>
                <a href="/gardening-tips" class="block text-xl text-white font-montserrat font-thin tracking-wide">From Seedlings to Blossoms</a>
            </div>
        </div>
        <div class="relative bg-cover bg-center h-64 w-64 overflow-hidden rounded-xl ">
            <img
            src="/images/categories/development.jpg"
            alt="career"
            class="w-full h-full object-cover brightness-50"
            />
            <div class="absolute bottom-0 left-0  p-4 w-full">
                <a href="/eco-living" class=" text-black bg-white rounded-2xl inline-block text-xs p-1 px-2 mb-3">Green</a>
                <a href="/eco-living" class="block text-xl text-white font-montserrat font-thin tracking-wide">Sustainable Choices for Modern Life</a>
            </div>
        </div>
        
    </div>
</section>
