---
---

{
  process.env.NODE_ENV === "development" && (
    <div class="fixed left-0 top-0 z-[10001] flex w-[30px] items-center justify-center bg-gray-200 py-[2.5px] text-[12px] uppercase text-black sm:bg-red-200 md:bg-yellow-200 lg:bg-green-200 xl:bg-blue-200 2xl:bg-pink-200">
      <span class="block sm:hidden">all</span>
      <span class="hidden sm:block 2sm:hidden">sm</span>
      <span class="hidden 2sm:block md:hidden">2sm</span>
      <span class="hidden md:block 2md:hidden">md</span>
      <span class="hidden 2md:block 3md:hidden">2md</span>
      <span class="hidden 3md:block lg:hidden">3md</span>
      <span class="hidden lg:block xl:hidden">lg</span>
      <span class="hidden xl:block 2xl:hidden">xl</span>
      <span class="hidden 2xl:block 3xl:hidden">2xl</span>
      <span class="hidden 3xl:block">3xl</span>
    </div>
  )
}
