---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import footerConfig from "@/config/footer.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { footer } = menu;
const { copyright, location, email, phone, footer_description } = config.params;

console.log(footerConfig);
---

<footer class="footer bg-[#1A1A29]">
  <div class="top">
    <div class="box">

    </div>
  </div>
  <div class="bottom content" set:html={markdownify(copyright)} />
</footer>
