@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @include meta.load-css("base");
}

@layer components {
  @include meta.load-css("components");
  @include meta.load-css("navigation");
  @include meta.load-css("buttons");
  @include meta.load-css("number");
}

@layer utilities {
  @include meta.load-css("utilities");
}

body:has(#header > .navbar > input#nav-toggle:checked) {
  overflow: hidden;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

/* width */
::-webkit-scrollbar {
  height: 2px;
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  border: 2.5px solid #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616161; 
}

