b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

.shadow {
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);

  &-lg {
    box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
  }
}

.shadow-small {
  box-shadow: 0px 2px 5px 0px #00000080;
}

.shadow-small-2 {
  box-shadow: 2px 2px 7.5px 0.5px #00000040;
}

.shadow-medium {
  box-shadow: 0px 2px 10px 0px #00000080;
}

.shadow-medium-2 {
  box-shadow: 2px 2px 10px 0px #00000030;
}

.shadow-medium-light {
  box-shadow: 0px 2px 10px 0px #69696980;
}

.shadow-large {
  box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-large-2 {
  box-shadow: 0px 10px 25px 5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.2);
}

.bg-gradient-to-tl {
  background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}

.bg-gradient {
  background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}