---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import config from "@/config/config.json";

const { logo } = config.site;
const entry = await getEntryBySlug("pages", "404");
const data = entry.data;
const body = entry.body;
---

<Base transparentBackground={false} title={data.title}>
  <section class="section">
    <div class="container px-[15px]">
      <div class="flex h-fit items-center justify-center">
        <div class="text-center flex flex-col gap-7 items-center font-montserrat">
          <Image
            src="/images/404-1.png"
            alt="logo"
            height={120}
            width={400}
          />
          <!-- <h1 class="mb-4" set:html={markdownify(data.title)} /> -->
          <h2 class="font-montserrat">
           {body}
          </h2>
        </div>
      </div>
    </div>
  </section>
</Base>